* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
}

.main-container {
  /* border: 2px solid rgb(243, 90, 13); */
  width: 100vw;
  height: 90vh;
  padding: 10px;
  margin: 20px;
  display: grid;
  grid-template: 0.2fr 1fr 1fr 100px / repeat(3, 1fr);
  gap: 10px;
  position: relative;

  /* box-sizing: border-box; */
}
.main-container div {
  padding: 10px;
  /* border: 2px solid rgb(0, 201, 251); */
  font-size: x-large;
}
.box-1 {
  /* header */
  background-color: #e5e4e4;
  grid-column-start: span 4;
}
.box-2 {
  /* side-bar */
  background-color: #e5e4e4;
  grid-column-start: 0;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: span 2;
}
.box-3 {
  /* main-content */
  grid-column: 1 / span 3;
  grid-row: 2 / span 2;
}
.box-4 {
  /* footer */
  grid-column: span 4;
}

/* side-bar and its side expansion of drop downs */
.navigation {
  list-style-type: none;
  padding: 0;
}

.navigation li {
  margin-bottom: 10px;
  position: relative;
}

.navigation button {
  border: 1px solid #ccc;
  border-radius: 3px 10px;
  background-color: white;
  padding: 5px 10px;
  cursor: pointer;
}

.navigation button:hover {
  background-color: #7b7b7b;
  color: #e6e6e6;
}

.dropdown {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #e5e4e4;
}

.navigation li:hover .dropdown {
  display: flex;
  flex-direction: column;
}

.dropdown button {
  padding: 5px 10px;
  border: 1px solid;
  cursor: pointer;
  margin-bottom: 5px;

}

.dropdown button a {
  text-decoration: none;
  color: black;
}

.dropdown button:hover{
  color: #e6e6e6;
}



.dropdown button a:hover {
  color: white;
}

